

    <div class="container body-content">
        <h3>@ViewBag.title</h3>
        <h3 class="p-3 bg-secondary text-light text-center border border-info">View Jobs By Category</h3><br />
    </div>

<table class="centeredTable">
    <tr class="bg-info text-light border border-warning">
        @foreach (var column in ViewBag.columns)
        {
            <th>@column.Value</th>
        }
    </tr>
    <tr>
        @{
            //TODO #2: Complete the View Jobs By Category Table
        }

        <td class="list-group">
            <a class="list-group-item list-group-item-action" asp-controller="List" asp-action="Jobs" asp-route-column="All" asp-route-value="all">All</a>
        </td> @* Feel free to remove or modify this element if necessary. *@
        @foreach (var category in ViewBag.tableChoices)
        {
            <td>
                <div class="list-group">
                    @foreach (var item in category.Value)
                    {
@*                        <li>
*@                            <a class="list-group-item list-group-item-action bg-light border border-info" asp-controller="List" asp-action="Jobs" asp-route-column="@category.Key" asp-route-value="@item">@item</a><br />
@*                        </li>
*@                    }
                </div>
            </td>
        }
    </tr>
</table>

